.paper > pre {
    width: 480px;
    overflow: auto;
}

.two > img {
    width: 100%;
}

@media (max-width:760px) {
    .two > img {
        display: none;
    }
    .tdimg {
        display: none;
        width: 0%;
        padding: 0;
    }
    .tdcontent {
        width: 100%;
    }
}